/* about me section styling */
.aboutMeContainer{
  /* border: 1px solid navy; */
  display: grid;
  place-content: center;
}

/* .aboutMeWrapper{
  border: 1px solid slateblue;
} */

.aboutMeDiscriptionWrapper{
  /* border: 1px solid rgb(50, 91, 205); */
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.subTitle{
  font-size: 5rem;
  margin-bottom: 5px;
}

.aboutMeInfo{
  max-width: 30ch;
  line-height: 1.15;
}

.aboutMeInfoTitle{
 margin-bottom: 10px;
}