.heroContainer{
  height: 100dvh;
  display: grid;
  place-content: center;
  background-image: url('https://images.unsplash.com/photo-1710781944947-7cd4a381499f?q=80&w=3732&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomWrapper{
  /* border: 1px solid red; */
  display: flex;
  gap: .75rem;
}

.nameRoleWrapper{
  border: 1px solid green;
}

.logo{
  height: 1.25rem;
}