.container {
  border: 1px solid orangered;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.banner {
  border-radius: 10px;
}

.profilePic {
  height: 13em;
  width: 13em;
  object-fit: cover;
  outline: 3px solid rgb(255, 255, 255);
  outline-offset: 3px;
  border-radius: 50rem;
}

.reveal {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

/* about me section styling */
.aboutMeDiscriptionWrapper{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.subTitle{
  font-size: 5rem;
}

.aboutMeInfo{
  max-width: 30ch;
}

.aboutMeInfoTitle{
 margin-bottom: 10px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
