.container {
  border: 1px solid orangered;
  /* animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%; */
  padding: 10px;
}

.cardWrapper{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.imageAndLinksWrapper{
  /* border: 1px solid rgb(0, 255, 123); */
  display: flex;
  margin: auto;
  gap: 1.5rem;
  flex: 1;
}

.links > *{
  display: block ;
  outline: 1px double rgb(144, 144, 144);
  margin-top: 10px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  transition: .3s ease-in-out;
  text-align: center;
}

.links{
  margin: auto;
  width: 12rem;
}

.links > *:hover{
  background-color: rgb(177, 208, 83);
  letter-spacing: 3px;
  color: whitesmoke;
  outline-offset: 3px;
}

.linkTitle{
  font-family: inherit;
}

.profilePic {
  height: 13em;
  width: 13em;
  object-fit: cover;
  outline-offset: 3px;
  border-radius: 50rem;
}

.reveal {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

/* about me section styling */
.aboutMeContainer{
  /* border: 1px solid slateblue; */
  grid-column: 2/span all;
  display: block;
  padding-left: 5rem ;
}

.aboutMeDiscriptionWrapper{
  /* border: 1px solid rgb(50, 91, 205); */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.subTitle{
  font-size: 5rem;
  /* margin-bottom: 10px; */
}

.aboutMeInfo{
  max-width: 30ch;
}

.aboutMeInfoTitle{
 margin-bottom: 10px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
